@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  scroll-padding-bottom: 50px;
}

body {
    color: #111;
    background: #FFF;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(252, 252, 252, 1) 100%);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, .1);
    z-index: 999;
}

.header__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    flex: 1;
    max-width: 1100px;
    padding: 12px 16px;
}

.header__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex: 1;
}

.header__nav {
    border-radius: 4px;
    overflow: hidden;
    transition: .2s ease;
}

.header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: .2s ease;
}

.header__item {
    display: block;
}

.header__item a {
    padding: 8px 12px;
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: rgb(73, 70, 110);
    text-decoration: none;
    cursor: pointer;
}

.header__item a:hover {
    background-color: rgb(59, 57, 88);
}

.header__item a.logo {
    background-color: rgb(87, 84, 133);
}

.header__item a .icon {
    margin-right: 6px;
}

.header__item a .close {
    display: none;
}

.header__item a .open {
    display: block;
}

.header__menu {
    display: none;
}

.header__center {
    flex: 1;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__search input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    border-color: #ccc;
    flex: 1;
}

.header__search input[type="search"]:focus,
.header__search input[type="search"]:active,
.header__search button[type="submit"]:focus,
.header__search button[type="submit"]:active {
    border-color: rgb(65, 61, 114);
}

.header__search button[type="submit"] {
    padding: 8px 12px;
    border-radius: 0px 4px 4px 0px;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    outline: none;
    border-color: #ccc;
    color: #111;
    background-color: #ebebeb;
    cursor: pointer;
    transition: .1s ease;
}


.header__search button[type="submit"]:hover {
    color: white;
    border-color: rgb(74, 70, 116);
    background-color: rgb(74, 70, 116);
}


.footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    padding: 20px 12px;
    color: #111;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.footer a {
    color: orangered;
    text-decoration: none;
}

.footer a:hover {
    color: red;
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.hero a {
    color: #111;
    text-decoration: none;
}

.hero__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    color: #111;
    background-color: white;
    width: 100%;
    max-width: 1000px;
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    max-height: 300px;
}

.hero__image img {
    width: 100%;
    opacity: .9;
    transition: .3s ease-in-out;
}

.hero__image:hover img {
    opacity: 1;
    transform: rotate(1deg) scale(1.03);
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.hero__info hr {
    margin: 8px 12px;
    border: none;
    background-color: #ccc;
    height: 1px;
}

.hero__info footer {
    display: flex;
}

.hero__nav {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    overflow: hidden;
}

.hero__nav a {
    display: block;
    padding: 6px 8px;
    color: white;
    font-size: small;
    background-color: rgb(73, 70, 110);
    text-decoration: none;
}

.hero__nav a:hover {
    background-color: rgb(59, 57, 88);
}

.anime__list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 12px;
}

.anime__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    gap: 12px;
    max-width: 1000px;
}

.anime__container a {
    text-decoration: none;
}

.anime__card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.anime__card header {
    padding: 8px;
}

.anime__card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.anime__card img {
    width: 100%;
    transition: .3s ease-in-out;
}

.anime__card:hover img {
    transform: rotate(1deg) scale(1.04);
}

.anime__card footer {
    border-top: 1px solid #ccc;
    padding: 4px 8px;
    font-size: small;
    text-align: center;
    color: #111;
}

.anime__card-info {
    overflow: hidden;
    height: 0;
}

.anime__card:hover .anime__card-info {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 8px;
    transition: .2s ease;
    background-color: rgba(255, 255, 255, .8);      
    backdrop-filter: blur(1px);
}

.anime__info {
    display: flex;
    justify-content: center;
}

.anime__info .anime__container {
    max-width: 1000px;
}

.anime__info-header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}

.anime__info-image-back {
    display: flex;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 0px 0px 8px 8px;
}

.anime__info-image-title {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    padding: 8px 12px;
    border-radius: 6px 0px 0px 0px;
    backdrop-filter: blur(2px);
}

.anime__info-image-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border: 0;
    border-style: outset;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 8px;
    transform: translateY(-50%) translateX(25px);
    padding: 4px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}

.anime__info-image-poster img {
    border-radius: 4px;
}

.anime__info img {
    width: 100%;
    max-width: 100%;
}

.anime__info-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    flex: 1;
    padding: 0 14px;
}

.anime__info-grid-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(-200px);
}

.anime__info-grid-left-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}

.anime__info-grid-left-image img {
    width: 100%;
    border-radius: 8px;
}

.anime__info-grid-left-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    max-width: 250px;
}

.anime__info-grid-left-content hgroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
}

.anime__info-grid-left-content a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    background-color: rgb(73, 70, 110);
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    flex: 1 1 auto;
}

.anime__info-grid-left-content a.state {
    display: block;
}

.anime__info-grid-left-content a.state.finalized {
    background-color: rgb(161, 10, 10);
}

.anime__info-grid-left-content a.follow {
    background-color: rgb(15, 161, 10);
}

.anime__info-grid-left-content a.waiting_list {
    background-color: rgb(201, 125, 12);
}

.anime__info-grid-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.anime__info-grid-right header,
.anime__info-grid-right footer {
    flex: 1;
    border-radius: 8px;
    padding: 12px 14px;
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .1);
}

.anime__info-grid-genre-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.anime__anime__info-grid-genre-links a {
    display: inline-block;
    padding: 6px 10px;
    background-color: rgb(73, 70, 110);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: small;
}

.anime__info-footer {
}

@media (max-width: 980px) {
    .header__section {
        align-items: stretch;
        flex-direction: column;
    }

    .header__menu {
        display: block;
    }

    .header__check-menu ~ .header__nav .header__list {
        height: 0;
        transform: translateY(-100%);
    }

    .header__check-menu:checked ~ .header__nav .header__list {
        height: auto;
        transform: translateY(0);
    }

    .header__check-menu:checked ~ .header__header .header__item a .close {
        display: block;
    }

    .header__check-menu:checked ~ .header__header .header__item a .open {
        display: none;
    }

    .header__nav .header__list {
        flex-direction: column;
    }
   
    .anime__info-header {
        justify-content: center;
    }

    .anime__info-image-back {
        border-radius: 0;
    }
    .anime__info-image-title {
        right: 0;
        left: 0;
        top: 0;
        bottom: auto;
        text-align: center;
        border-radius: 0px;
    }

    .anime__info-image-poster {
        transform: translateY(-50%) translateX(0);
    }
}